<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body style="background-color: #6fff36">


<div align="center">
    <h1>登录界面</h1>
    <span th:text="${msg}" style="color: red;font-size: 10px;"></span>
    <form th:action="@{/LoginSuccess}" method="get">
        用户名：<input type="text" name="username" placeholder="请输入用户名" required/><br>
        密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password" placeholder="请输入密码" required/><br>
        <br>
        <input type="submit" value="登录">
    </form>
    <br>
    <form action="/toRegister" method="get">
        <input type="submit" value="注册">
    </form>
</div>

</body>
</html>